<launch>
    <group ns="ros_webrtc_host_test">
        <!-- params -->
        <rosparam ns="cameras" file="$(find ros_webrtc)/test/fixtures/params/cameras.yaml" />
        <rosparam ns="peer_connection" file="$(find ros_webrtc)/test/fixtures/params/peer_connection.yaml" />
        <rosparam ns="ice_servers" file="$(find ros_webrtc)/test/fixtures/params/ice_servers.yaml" />
        <param name="flush_frequency"  value="$(optenv ROS_WEBRTC_TEST_FLUSH_FREQUENCY 60.0)" type="double" />
        
        <!-- nodes -->
        <node name="play" pkg="rosbag" type="play" args="$(find ros_webrtc)/test/fixtures/bags/sim_2015-02-23-15-14-55.bag --loop" />
        <node name="host" pkg="ros_webrtc" type="ros_webrtc_host" output="log" />

        <!-- test -->
        <test test-name="host_test" pkg="ros_webrtc" type="host_test.py" args="--cov" />
    </group>
</launch>
